body {
        background-color: black;
        font-family: 'Anton', sans-serif;
}

.people {
        width: 200px;
        height: 350px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 100px;
        background-color: rgb(50, 49, 49);
        border-color: black;
        color: white;
        border-radius: 0%;

}

.imgAll {
        height: 240px;
        object-fit: fill;
        width: 200px;
        border-radius: 0;
}

.imgPlanet {
        object-fit: fill;
        height: 240px;

}

.planets {
        width: 200px;
        height: 350px;
        margin: 40px;
        margin-top: 80px;
        background-color: black;
        border-color: black;
        color: white;
        border-radius: 0%;

}

.vehicles {
        width: 200px;
        height: 350px;
        margin: 40px;
        margin-top: 80px;
        background-color: rgb(50, 49, 49);
        border-color: black;
        color: white;
        border-radius: 0%;

}


.like {
        margin-left: 8px;
        background-color: black;
        border-color: red;

}


.btn {
        margin-top: 10px;
}