body{
        background-color: black;
}

.people{
        width: 250px;
        height: 350px;
        margin: 20px;
        background-color: gainsboro;
        border-color: black;
        padding-bottom: 10px;
    }
.imgAll{
        height: 240px;
        object-fit: fill;
}
.planets{
        width: 250px;
        height: 350px;
        margin: 20px;
        background-color: gainsboro;
        border-color: black;
        padding-bottom: 10px;
    }
.vehicles{
        width: 250px;
        height: 350px;
        margin: 20px;
        background-color: gainsboro;
        border-color: black;
        padding-bottom: 10px;
}